<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Career Exploration{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">PathX</a>
      <!-- Add navigation links here -->
    </nav>
    <div class="button">
      <button style="justify-content: center">
        New to Career app?
        <a href="http://127.0.0.1:500/register">create a new account. </a>.
      </button>
    </div>
    <div class="container mt-4">{% block content %}{% endblock %}</div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2024 Career Path Exploration</span>
      </div>
    </footer>
  </body>
</html>
